{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <section class="articles">
        <article class="my-3 my-2">
            <h2>{{ post.title }}</h2>
            <div class="metadata">Ecrit le {{post.createdAt|date('d/m/Y')}} à {{ post.createdAt | date('H:m')}} par <a href="{{path('authors_posts', {id: post.author.id})}}">{{ post.author.firstname }}</a>  dans Divers</div>
            <div class="content">
                <img src="{{ post.image }}" alt="">
                <p>{{ post.content }}</p>
                <p>Id ratione dolorum nemo, eum eius illum voluptas blanditiis quisquam quidem accusamus officia expedita consequuntur tempore dignissimos, odio ducimus harum! Consequatur temporibus quibusdam, facilis enim modi reiciendis illum aliquid libero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fugiat recusandae aspernatur provident porro velit iusto eveniet adipisci necessitatibus ratione, atque vero, nemo sapiente deserunt! Repellendus cum ducimus tempora nam maiores, corporis error, odit reprehenderit adipisci, praesentium ipsam. Distinctio vel earum minima optio pariatur eaque totam, praesentium ducimus sit, magni libero deserunt ut expedita accusantium dolore, iure consequuntur nostrum at deleniti corrupti! Repudiandae libero minus saepe asperiores, quas vitae veniam harum dignissimos modi dolores aperiam fugit laboriosam ea vel! Commodi est fuga rem itaque maxime voluptatum modi mollitia accusantium assumenda corrupti, minus fugiat harum unde enim, dignissimos maiores consequatur nihil, vero velit? Nesciunt, doloremque molestias impedit voluptatem qui odit asperiores voluptate hic architecto incidunt sed optio deserunt tempore saepe repudiandae ipsa, provident velit dignissimos obcaecati iusto? Accusamus quam delectus molestias. Fugit consequatur quam molestiae iste. Magni explicabo amet mollitia fugit deleniti, soluta esse animi repellat, corrupti nam qui culpa perspiciatis eos dignissimos. Dolores, ad! Earum necessitatibus quidem ab tenetur inventore, odit modi pariatur? Quas quisquam reprehenderit quae praesentium, minus impedit expedita recusandae quidem nesciunt esse vel iste quo aliquid sequi doloribus error perspiciatis cum ipsum earum at excepturi. Perferendis eaque sit veritatis. Sit, veritatis quod? Cum magnam ducimus earum at!</p>
            </div>
            <a href="{{path('home')}}" class="btn btn-primary">Commenter</a>
            <a href="{{path('home')}}" class="btn btn-secondary">Retour à l'accueil</a>
        </article>
    </section>
    <hr>
    <section class="comments">
    <h2>Commentaires</h2>
        {% for comment in post.comments %}
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ comment.username }}</h5>
                <p class="card-text">{{ comment.content }}</p>
            </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
