<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Mon Super Blob</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link {{title == 'Accueil' ? 'active' : ''}}" href="{{ path('home') }}">Articles récents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{title == 'Nouvel article' ? 'active' : ''}}" href="{{ path('post_new') }}">Nouveau</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{title == 'A propos' ? 'active' : ''}}" href="#">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{title == 'A propos' ? 'active' : ''}}" href="{{ path('app_login') }}">Connexion</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Chercher">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"></button>
        </form>
        </div>
    </div>
</nav>