{% extends "base.html.twig" %}
{% block body %}
    <h1>{{ updateForm ? 'Modifier l\'article ' : 'Nouvel article' }}</h1>
    {{ form_start(postForm) }} 

    {{ form_row(postForm.title, {
        'attr' : {
            'placeholder' : 'Titre de l\'article'
        }, 
        'label': 'Titre'
        }) }}
    {{ form_row(postForm.category )}}
    {{ form_row(postForm.content, {
        'attr' : {
            'placeholder' : 'Contenu'
        }, 
        'label': 'Texte'
        }) }}
    {{ form_row(postForm.image, {
        'attr' : {
            'placeholder' : 'URL de l\'image'
        }, 
        'label': 'Image'
        }) }}

    <button type="submit" class="btn btn-info">
        {{ updateForm ? 'Enregistrer modifications' : 'Ajouter' }}
    </button>

    {{ form_end(postForm) }}
{% endblock %}